body{
    font-family: "roboto", sans-serif;
    text-align: center;
}

h1, p{
    color: #001858;
}
a{
   
    text-decoration: none;
    background-color: #f3d2c1;
    padding: 30px;
    box-shadow: 5px 5px #8bd3dd;
    border-radius: 25px;
}

p{
    margin-bottom: 60px;
}